#Botones{
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.aaaa {
  display: block;
  width: 100%;
  font-size: 1.4rem;
}
.menu-label{
  width: 100%;
  text-align: center;

}
ul{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.a2{
  display: block;
  width: 100%;


}
body{
  height: 100vh;
  position: relative;
}
.padres{
  height: 100%;
}
#barrita{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;

  padding-bottom: 15%;
}
#barrita p {
  text-align: center;
  margin-bottom: 10%;
  font-size: 1.3em;
}
#barrita .imgg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
