<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/Actividades.css">
    <title>Actividades miembros</title>
  </head>
  <body>
    <div class="Padre">
      <div class="t1">
        <h1>Actividades terminadas</h1>
      </div>
      <div class="ContenedorTabla">
        <table class="table table-striped">
          <thead>
            <tr>
              <th id="c1">Actividad</th>
              <th id="c2">Descripcion</th>
              <th id="c3">Descripcion</th>
              <th id="c4">Documentacion</th>
              <th id="c5">Observacion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tab">Informe de avances</td>
              <td class="tab">...</td>
              <td class="tab">16/05</td>
              <td><a href="#"><img src="../imagenes/archivo.png" alt=""></a></td>
              <td><a href="#"><img src="../imagenes/archivo.png" alt=""></td>
            </tr>
            <tr>
              <td class="tab">Seleccion de software</td>
              <td class="tab">...</td>
              <td class="tab">10/05</td>
              <td>-</td>
              <td><a href="#"><img src="../imagenes/archivo.png" alt=""></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="t2">
        <h2>Actividades incompletas/canceladas</h2>
      </div>
      <div class="ContenedorTabla">
        <table class="table table-striped">
          <thead>
            <tr>
              <th >Actividad</th>
              <th >Motivo</th>
              <th >Supervisor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tab">a</td>
              <td class="tab"></td>
              <td class="tab"></td>
            </tr>
            <tr>
              <td class="tab">a</td>
              <td class="tab"></td>
              <td class="tab"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
