<!DOCTYPE html>

<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title>Documento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel = "shortcut icon" type = "image/x-icon" href = "../imagenes/trebol.ico">
    <link rel = "stylesheet" type = "text/css" href = "../css/desempenho.css">
</head>

<body>

    <div class="body">
        <div class="encabezadotabla1">
            <span>Reuniones</span> 
            <input class="btn btn-primary" type = "button" value = "Buscar reuniones">
        </div>

        <div class="tabla1">
            <ul>
                <li>
                    <label for = 'Codigo'>Codigo: </label> <input type = "text" placeholder = "Codigo de reunion" maxlength = "9" id = "Codigo">
                </li>

                <li>
                    <label>Fecha: </label> 
                    <select>
                            <option value = "7d">Ultima semana</option> 
                            <option value = "30d">Ultimo mes</option>
                            <option value = "360d">Ultimo año</option>
                            <option value = "999d">Todo</option>
                    </select>
                </li>
            </ul>

            <div class="tablcont table">
                <table class="TablaAsist"> 

                    <tr> <!--Columna-->
                        <th scope="row">Reunion</th>
                        <th>Descripcion</th>
                        <th>Puntaje</th>
                        <th>Fecha</th>
                    </tr>

                    <tr>
                        <th>R01-P3</th>
                        <td>1ra Reunion de grupo</td>
                        <td>100</td>
                        <td>05/03/21</td>
                    </tr>

                    <tr>
                        <th>R03-P2</th>
                        <td>Reunion Cronograma alto nivel</td>
                        <td>90</td>
                        <td>23/01/21</td>
                    </tr>

                    <tr>
                        <th>R01-PMO</th>
                        <td>Solicitud de proyecto</td>
                        <td>100</td>
                        <td>15/11/20</td>
                    </tr>

            </table>
            </div>
        </div>

            <div class="encabezadotabla2">
            <span>Entregables</span> 
            <input class ="btn btn-primary" type = "button" value = "Buscar documentos">
            </div>

        <div class="tabla2">
            <ul>
                <li>
                    <label for = 'Codigo'>Codigo: </label> <input type = "text" placeholder = "Codigo de documento" maxlength = "9" id = "Codigo">
                </li>

                <li>
                    <label>Fecha: </label> 
                    <select>
                            <option value = "7d">Ultima semana</option> 
                            <option value = "30d">Ultimo mes</option>
                            <option value = "360d">Ultimo año</option>
                            <option value = "999d">Todo</option>
                    </select>
                </li>
            </ul>

            <div class="tablcont">
                <table class="TablaAsist"> 

                    <tr> <!--Columna-->
                        <th scope="row">Documento</th>
                        <th>Descripcion</th>
                        <th>Puntaje</th>
                        <th>Fecha</th>
                    </tr>

                    <tr>
                        <th>D02-P2</th>
                        <td>Presupuesto aprobado</td>
                        <td>80</td>
                        <td>09/03/21</td>
                    </tr>

                    <tr>
                        <th>R03-P2</th>
                        <td>Cronograma alto nivel</td>
                        <td>70</td>
                        <td>06/03/21</td>
                    </tr>

                    <tr>
                        <th>D01-PMO</th>
                        <td>Solicitud de proyecto</td>
                        <td>75</td>
                        <td>14/11/20</td>
                    </tr>

            </table>
            </div>
        </div>

    </div>
</body>

</html>
