<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menú</title>
      <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/menu.css">
  </head>
  <body>
    <div class="padres">
      <h1> Menu director Programa</h1>
      <div class="container">
        <div class="" id="Botones">
          <div class="aaaa">
            <p class="menu-label">Opciones</p>
            <ul class="menu-list">
              <li><a href="#">Inicio de Proyecto</a></li><br>
              <li><a href="#">Proyectos activos</a></li><br>
              <li><a href="#">Información de los miembros</a></li><br>
              <li><a href="#">Administración documentos</a></li><br>
            </ul>
          </div>
        </div>
        <div class="" id="barrita">
          <div class="a2">
            <p>Director de programa</p>
            <div class="imgg">
              <img src="../imagenes/avatar-img.png" alt="Foto logueado">
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
