<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/MostrarCon.css">
    <title>Mostrar Convocatorias</title>
  </head>
  <body>
    <div class="marco">
      <div class="padre">
        <div class="padre2">
          <form class="izqu" action="index.html" method="post">
            <div class="row" >
              <div class="col-sm-2">Proyecto</div>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Nombre proyecto">
                <img id="buscar" src="../imagenes/Buscar.png" alt="Buscar">
              </div>
            </div>
            <div class="row" >
              <div class="col-sm-2" style="display:flex; align-items:center;">
                <div class="">
                  Fechas
                </div>
              </div>
              <div class="col-sm-10" >
                <input class="form-control"  id="fe1" type="date" placeholder="Fecha inicio">
                <span id="separacion">-</span>
                <input class="form-control" id="fe2" type="date" placeholder="Fecha fin">
              </div>

            </div>
            <div class="row" >
              <div class="col-sm-2">Cargos</div>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Cargos">
              </div>
            </div>
            <div class="row" >
              <div class="col-sm-2">Areas</div>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Areas">
                <input type="submit" id="bot" name="A" value="Buscar" class="btn btn-primary" >
              </div>

            </div>
          </form>
        </div>
      </div>
      <div class="Resultados">
        <table class="table table-striped">
          <thead>
            <tr>
              <th id="c1">Proyecto</abbr></th>
              <th id="c2">Estado Proyecto</abbr></th>
              <th id="c3">Cargo</abbr></th>
              <th id="c4">Desempeño</abbr></th>
              <th id="c5">Observaciones</abbr></th>
            </tr>
          <tbody>
            <tr>
              <td>P035</td>
              <td>Ejecucion</td>
              <td>Miembro</td>
              <td>
                <img class="im" src="../imagenes/archivo.png" alt="">
              </td>
              <td>
                <img class="im" src="../imagenes/archivo.png" alt="">
              </td>
            </tr>
            <tr>
              <td>P035</td>
              <td>Concluido</td>
              <td>Miembro</td>
              <td>
                <img class="im" src="../imagenes/archivo.png" alt="">
              </td>
              <td>
                <img class="im" src="../imagenes/archivo.png" alt="">
              </td>
            </tr>
          </tbody>
      </div>
    </div>

  </body>
</html>
