<!DOCTYPE html>

<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title>Documento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel = "shortcut icon" type = "image/x-icon" href = "../imagenes/trebol.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel = "stylesheet" type = "text/css" href = "../css/index_estilos.css">
</head>

<body>

    <div class="burbujas">
        <div class="burbuja"> </div>
        <div class="burbuja"> </div>
        <div class="burbuja"> </div>
        <div class="burbuja"> </div>
        <div class="burbuja"> </div>
    </div>

    <div class="contenido">
        <div class="filtros">
            <ul>

                <li><label for = 'Codigo'>Codigo</label>         <input type = "text" placeholder = "Codigo UNI del miembro" maxlength = "9" id = "Codigo"> </li>
                <li><label for = 'Nombre'>Nombre</label>         <input type = "text" placeholder = "Nombre del miembro" maxlength = "20" id = "Nombre"> </li>
                <li><label for = 'Apellido'>Apellido</label>     <input type = "text" placeholder = "Apellido del miembro" maxlength = "20" id = "Apellido"> </li>
                <li><label for = 'Facultad'>Facultad</label>     <input type = "text" placeholder = "Facultad del miembro" maxlength = "6" id = "Facultad"> </li>

            </ul>
        </div>

        <div class="botones">
            <input type = "button" value = "Agregar Filtros">
            <input type = "button" value = "Buscar">
        </div>

        <div class="perfiles">
            <!--Se agregan con Django-->
            <div class="alum1">
                <div class="foto">
                    <img src = "../imagenes/trebol.jpg" class="alumnfoto">
                </div>

                <div class="descripcion">
                    <div class="proyecto">
                        <ul>
                            <li>Proyecto xyz</li>
                            <li>Proyecto 123</li>
                            <li>Proyecto ABC</li>
                        </ul>
                    </div>

                    <div class="cargo">
                        <ul>
                            <li>Miembro</li>
                            <li>Miembro - Director de MK</li>
                            <li>Director de proyecto</li>
                        </ul>
                    </div>

                    <div class="medalla">
                        <ul class="medallas">
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="alum1">
                <div class="foto">
                    <img src = "../imagenes/trebol.jpg" class="alumnfoto">
                </div>

                <div class="descripcion">
                    <div class="proyecto">
                        <ul>
                            <li>Navidad para todos</li>
                            <li>Proyecto 123</li>
                            <li>Proyecto ABC</li>
                        </ul>
                    </div>

                    <div class="cargo">
                        <ul>
                            <li>Director de proyecto</li>
                            <li>Miembro - Director de MK</li>
                            <li>Director de proyecto</li>
                        </ul>
                    </div>

                    <div class="medalla">
                        <ul class="medallas">
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="alum1">
                <div class="foto">
                    <img src = "../imagenes/trebol.jpg" class="alumnfoto">
                </div>

                <div class="descripcion">
                    <div class="proyecto">
                        <ul>
                            <li>Proyecto xyz</li>
                            <li>Proyecto 123</li>
                            <li>Proyecto ABC</li>
                        </ul>
                    </div>

                    <div class="cargo">
                        <ul>
                            <li>Miembro</li>
                            <li>Miembro - Director de MK</li>
                            <li>Director de proyecto</li>
                        </ul>
                    </div>

                    <div class="medalla">
                        <ul class="medallas">
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                            <li><img src = "../imagenes/trebol.jpg" height="10px"></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>



</body>

</html>